<%= form_with model: [@project, @bug], local: true do |form| %>

 <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline, min: Date.tomorrow %>
  </p>

   <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <% form.label :bug_type %><br />
    <%= form.select :bug_type, bug_types%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
